<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
  <%= @idea.picture_url if @idea.picture.present? %>
</p>

<p>
  <strong>Audio:</strong>
  <% if @idea.audio_bit.present? %>
    <audio controls>
      <source src="<%= @idea.audio_bit_url %>" type="audio/mpeg">
    </audio>
  <% end %>
  <%= @idea.inspect %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
